<div class="body-content">

  <div class="main-title">
    <div class="subtitle-body-mass-index">body mass index</div>
    <div class="main-title-calculator">Калькулятор индекса<br>
массы тела</div>
  </div>

  <div class="main-description">
    <p class="text-description"><span class="red-line">Индекс массы тела</span> — величина, позволяющая оценить степень соответствия массы человека и его роста и тем самым косвенно судить о том, является ли масса недостаточной, нормальной или избыточной.</p>
  </div>

</div>
