
<div class="div-form-register" data-div="registr">

  <h3 data-registr="registr" class="title-registr">Регистрация</h3>  

  <form class="form-registration" data-createForm="create-form">

    <input id="username" data-user="user-name" name="name" class="input-form-registr input-margin" type="text" placeholder="имя">


    <input id="email" name="email" data-email="email" class="input-form-registr input-margin" type="text" placeholder="email">
    

    <input id="password" name="password" data-password="password" class="input-form-registr input-margin" type="password" placeholder="пароль">


    <input id="password2" name="password2" data-password="password-two" class="input-form-registr input-margin" type="password" placeholder="повторите пароль">

    <button class="btn-create" type="submit">зарегистрироваться</button>
  </form>

</div>
